[Unit]
Description=myapp
After=syslog.target

[Service]
User=ubuntu
ExecStart=/home/ubuntu/webapp/unichef.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target

